{% extends 'mobility/regular_base.html' %}
{% load static %}

{% block top_section %}
{% endblock top_section %}

{% block main_content %}
<style>
  .frame-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 100%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */

  }
      /* Then style the iframe to fit in the container div with full height and width */
  .responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;

  }
  </style>
<h2>National View </h2>
<form method="get" class="form-inline">

    {{ form }}
    <button class="btn btn-primary">Submit </button>

  </form>

<p class="lead">
    Having a larger view and zooming out can reveal patterns and outliers.
  </p>
<p>Select a metric to see a metric on a national level, or click on a county to explore more details about that county's specific metrics.</p>

<div class="frame-container">
  <iframe class="responsive-iframe"  src="https://davidhcoe-mads697-county-details-pr63wa.streamlitapp.com/?embedded=true&metric={{metric}}" >
</div>
<script type="text/javascript">
  $(document).ready(function() {
    $('#id_metric').select2({placeholder: 'Select a County'});
});

   </script>
{% endblock main_content %}

