{% extends 'mobility/regular_base.html' %}
{% load static %}
{% block top_section %}
{% endblock top_section %}

{% block main_content %}
<div class="container">
    <div class="row">
    <h1>{{ object.title }}</h1>
    <small>Published: {{ object.published_date|date }}</small><br>
    {% if object.author.get_full_name %}
    <small class="text-muted">Prepared by: {{ object.author.get_full_name }} </small>
    {% endif %}
    <hr>
    </div>
    <div class="container"  style="max-width:80%;">
        <p>{{ object.text.html|safe }}</p>
        {% if object.iframe_media %} 
            {{ object.iframe_media|safe}}
        {% endif %}
    </div>
</div>
{% endblock main_content %}